# Hyeng Hong
Worksheet 03  
Section - 0101|0102

## Reflection
You were assigned to read:

>    Crawford, Kate. “The Hidden Biases in Big Data.” Harvard Business Review,  
>    April 1, 2013. https://hbr.org/2013/04/the-hidden-biases-in-big-data.
    
Write paragraph on why or why not you agree that the assumption that "big data" analyses reflect objective truth is problematic.

I agre that the statement, "big data analyses reflect objective truth is problematic. Data and dataset are created and analyzed by human interpretation. Because human is not objective, data has high risk of containing bias. Human is the one providing meaning to data, and data cannot present objectiveness all the time. In addition, like the articcle indicates, bias can be involved while the data is collected. If the certain portion of people do not have information access, the data will be collected by only selected people who have the access.

In [1]:
# We will be using the libraries numpy, pandas and matplotlib.pyplot
import os
import pandas as pd
import numpy as np
import matplotlib.pyplot

%matplotlib inline

In [2]:
# Change our working directory to the data folder
os.chdir('data')

In [3]:
# Make sure we are where we think we are...
os.getcwd()

'/home/ubuntu/Downloads/WK03-worksheet/data'

In [4]:
# What files are in here?
os.listdir()

['2017-Q1-Trips-History-Data.csv', '1208327.csv']

## First we will load csv files

In [5]:
cabi = pd.read_csv('2017-Q1-Trips-History-Data.csv')

In [6]:
noaa = pd.read_csv('1208327.csv')

### Now we will explore the data to make sure it is valid

In [7]:
# CABI DATA
cabi.tail()

,Duration,Start date,End date,Start station number,Start station,End station number,End station,Bike number,Member Type
646503,1356956,1/1/2017 0:07,1/1/2017 0:29,31289,Henry Bacon Dr & Lincoln Memorial Circle NW,31222,New York Ave & 15th St NW,W21945,Casual
646504,1327901,1/1/2017 0:07,1/1/2017 0:29,31289,Henry Bacon Dr & Lincoln Memorial Circle NW,31222,New York Ave & 15th St NW,W20012,Casual
646505,1636768,1/1/2017 0:07,1/1/2017 0:34,31258,Lincoln Memorial,31270,8th & D St NW,W22786,Casual
646506,1676854,1/1/2017 0:06,1/1/2017 0:34,31258,Lincoln Memorial,31270,8th & D St NW,W00894,Casual
646507,221834,1/1/2017 0:00,1/1/2017 0:04,31634,3rd & Tingey St SE,31208,M St & New Jersey Ave SE,W00869,Registered

In [8]:
cabi.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 646508 entries, 0 to 646507
Data columns (total 9 columns):
Duration                646508 non-null int64
Start date              646508 non-null object
End date                646508 non-null object
Start station number    646508 non-null int64
Start station           646508 non-null object
End station number      646508 non-null int64
End station             646508 non-null object
Bike number             646508 non-null object
Member Type             646508 non-null object
dtypes: int64(3), object(6)
memory usage: 44.4+ MB

In [9]:
type(cabi['Start date'][0])

str

In [10]:
cabi['start_date'] = pd.to_datetime(cabi['Start date'], infer_datetime_format = True)

In [11]:
cabi.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 646508 entries, 0 to 646507
Data columns (total 10 columns):
Duration                646508 non-null int64
Start date              646508 non-null object
End date                646508 non-null object
Start station number    646508 non-null int64
Start station           646508 non-null object
End station number      646508 non-null int64
End station             646508 non-null object
Bike number             646508 non-null object
Member Type             646508 non-null object
start_date              646508 non-null datetime64[ns]
dtypes: datetime64[ns](1), int64(3), object(6)
memory usage: 49.3+ MB

In [12]:
cabi = cabi.filter(['start_date', 'Duration', 'Member Type'], axis = 1)

In [13]:
cabi.tail()

                start_date  Duration Member Type
646503 2017-01-01 00:07:00   1356956      Casual
646504 2017-01-01 00:07:00   1327901      Casual
646505 2017-01-01 00:07:00   1636768      Casual
646506 2017-01-01 00:06:00   1676854      Casual
646507 2017-01-01 00:00:00    221834  Registered

In [14]:
cabi['start_date'].describe()

count                  646508
unique                  97298
top       2017-03-25 15:28:00
freq                       46
first     2017-01-01 00:00:00
last      2017-03-31 23:59:00
Name: start_date, dtype: object

In [15]:
cabi['date'] = cabi['start_date'].dt.normalize()
cabi.tail()

                start_date  Duration Member Type       date
646503 2017-01-01 00:07:00   1356956      Casual 2017-01-01
646504 2017-01-01 00:07:00   1327901      Casual 2017-01-01
646505 2017-01-01 00:07:00   1636768      Casual 2017-01-01
646506 2017-01-01 00:06:00   1676854      Casual 2017-01-01
646507 2017-01-01 00:00:00    221834  Registered 2017-01-01

In [16]:
rides = cabi.groupby(['date'])['date'].count()

In [34]:
type(rides)

pandas.core.series.Series

### From the documentation

The five core values are:


> PRCP = Precipitation (mm or inches as per user preference, inches to hundredths on Daily Form pdf file)  
> SNOW = Snowfall (mm or inches as per user preference, inches to tenths on Daily Form pdf file)  
> SNWD = Snow depth (mm or inches as per user preference, inches on Daily Form pdf file)  
> TMAX  =  Maximum  temperature  (Fahrenheit  or  Celsius  as  per  user  preference,  Fahrenheit  to  tenths  on  Daily Form pdf file  
> TMIN  =  Minimum  temperature (Fahrenheit  or  Celsius  as  per  user  preference,  Fahrenheit  to  tenths  on Daily Form pdf file  

### And this seems interesting too
> AWND = Average daily wind speed (meters per second or miles per hour as per user preference)

In [18]:
# NOAA DATA
noaa.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 90 entries, 0 to 89
Data columns (total 41 columns):
STATION            90 non-null object
NAME               90 non-null object
DATE               90 non-null object
AWND               90 non-null float64
AWND_ATTRIBUTES    90 non-null object
PRCP               90 non-null float64
PRCP_ATTRIBUTES    90 non-null object
SNOW               90 non-null float64
SNOW_ATTRIBUTES    90 non-null object
SNWD               90 non-null int64
SNWD_ATTRIBUTES    90 non-null object
TAVG               90 non-null int64
TAVG_ATTRIBUTES    90 non-null object
TMAX               90 non-null int64
TMAX_ATTRIBUTES    90 non-null object
TMIN               90 non-null int64
TMIN_ATTRIBUTES    90 non-null object
WDF2               90 non-null int64
WDF2_ATTRIBUTES    90 non-null object
WDF5               90 non-null int64
WDF5_ATTRIBUTES    90 non-null object
WESD               0 non-null float64
WESD_ATTRIBUTES    0 non-null float64
WSF2               90 non-null float64
WSF2_ATTRIBUTES    90 non-null object
WSF5               90 non-null float64
WSF5_ATTRIBUTES    90 non-null object
WT01               27 non-null float64
WT01_ATTRIBUTES    27 non-null object
WT02               6 non-null float64
WT02_ATTRIBUTES    6 non-null object
WT03               2 non-null float64
WT03_ATTRIBUTES    2 non-null object
WT04               3 non-null float64
WT04_ATTRIBUTES    3 non-null object
WT06               2 non-null float64
WT06_ATTRIBUTES    2 non-null object
WT08               5 non-null float64
WT08_ATTRIBUTES    5 non-null object
WT09               0 non-null float64
WT09_ATTRIBUTES    0 non-null float64
dtypes: float64(15), int64(6), object(20)
memory usage: 28.9+ KB

## Now we have to join the files

In [20]:
noaa = noaa.filter(['DATE', 'AWND', 'PRCP', 'SNOW', 'SNWD', 'TMAX', 'TMIN'])

In [22]:
noaa.head()

         DATE  AWND  PRCP  SNOW  SNWD  TMAX  TMIN
0  2017-01-01  4.25  0.00   0.0     0    56    37
1  2017-01-02  7.83  0.35   0.0     0    46    41
2  2017-01-03  5.82  0.86   0.0     0    46    43
3  2017-01-04  9.84  0.00   0.0     0    57    35
4  2017-01-05  6.49  0.00   0.0     0    37    30

In [23]:
noaa = noaa.set_index('DATE')

In [30]:
noaa.head()

            AWND  PRCP  SNOW  SNWD  TMAX  TMIN
DATE
2017-01-01  4.25  0.00   0.0     0    56    37
2017-01-02  7.83  0.35   0.0     0    46    41
2017-01-03  5.82  0.86   0.0     0    46    43
2017-01-04  9.84  0.00   0.0     0    57    35
2017-01-05  6.49  0.00   0.0     0    37    30

In [36]:
result = pd.concat([noaa, rides], axis=1)

In [38]:
result = result.rename(index=str, columns={'date': "COUNT"})

In [39]:
result.head()

            AWND  PRCP  SNOW  SNWD  TMAX  TMIN  COUNT
2017-01-01  4.25  0.00   0.0     0    56    37   4063
2017-01-02  7.83  0.35   0.0     0    46    41   1638
2017-01-03  5.82  0.86   0.0     0    46    43   3771
2017-01-04  9.84  0.00   0.0     0    57    35   7185
2017-01-05  6.49  0.00   0.0     0    37    30   6214