In [1]:
# Standard Includes
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

# "magic" to display graphs in the notebook
%matplotlib inline

ModuleNotFoundError: No module named 'seaborn'

In [2]:
# import jtplot submodule from jupyterthemes
from jupyterthemes import jtplot

# currently installed theme will be used to
# set plot style if no arguments provided
jtplot.style()

In [3]:
xml_str = '''
<employees>
  <person>
    <name>Bill</name>
    <phone type="intl" other="stuff">
       +1 734 303 4456
     </phone>
     <email hide="yes"/>
  </person>
  <person>
    <name>Doug</name>
    <phone type="intl">
       +1 777 777 7777
     </phone>
     <email>doug@email.com</email>
  </person>
  <person>
    <name>Sally</name>
    <email>sally@email.com</email>
  </person>
</employees>'''

In [4]:
dl = {
    'name' : ['Bill', 'Doug', 'Sally'],
    'phone' : ['1111', '2222', np.NaN],
    'email' : ['bill@umd.edu', 'doug@umd.edu', 'sally@umd.edu']
}
ld = [{'name': 'Bill', 'email': 'bill@email.com', 'phone': '1111'}, 
      {'name': 'Doug', 'phone': '2222', 'email': 'doug@email.com'}, 
      {'name': 'Sally', 'email': 'sally@email.com'}]

In [7]:
pd.DataFrame(dl)

           email   name phone
0   bill@umd.edu   Bill  1111
1   doug@umd.edu   Doug  2222
2  sally@umd.edu  Sally   NaN

In [8]:
pd.DataFrame(ld)

             email   name phone
0   bill@email.com   Bill  1111
1   doug@email.com   Doug  2222
2  sally@email.com  Sally   NaN

### ElementTree

In [ ]:
import xml.etree.ElementTree as ET

In [ ]:
ex = ET.fromstring(xml_str)

In [ ]:
ex

In [ ]:
for em in ex.getchildren():
    print(em.tag)
    for c in em.getchildren():
        print(c.tag, c.text, c.attrib)

In [ ]:
def employeeParser(xml_obj):
    emp_list = []
    for person in xml_obj.getchildren():
        person_dict = {}
        for child in person.getchildren():
            if child.text != None:
                person_dict[child.tag] = child.text.strip()
        emp_list.append(person_dict)
    return pd.DataFrame(emp_list)

In [ ]:
employeeParser(ex)

In [ ]:
df1 = employeeParser(ex)

In [ ]:
df1

### LXML

In [ ]:
import lxml.etree as LET

In [ ]:
lx = LET.fromstring(xml_str)

In [ ]:
df2 = employeeParser(lx)

In [ ]:
df2

In [ ]:
df2.memory_usage().sum()

In [ ]:
df2.info()

## MoCo Traffic Violations - Jan 2018

XML data file for Traffic Violations in Montgomery County for January 2018
https://data.montgomerycountymd.gov/Public-Safety/Traffic-Violations/4mse-ku6q

In [ ]:
mxml = LET.parse('moco_traffic_Jan2018.xml')

In [ ]:
i = 0
for c in mxml.getiterator():
    if c.tag == 'row':
        i += 1
    if i > 3:
        break
    print(c.tag, c.attrib, c.text)

In [ ]:
def trafficParser(xml_obj):
    cnt = 0
    rows = []
    for obj in xml_obj.getchildren():
        if obj.tag == 'row':
            for r in obj.getchildren():
                rdict = {}
                for t in r.getchildren():
                    if t.text != None:
                        rdict[t.tag] = t.text.strip()
                rows.append(rdict)
                cnt += 1
    print("Num Rows: " + str(cnt))
    return pd.DataFrame(rows)

In [ ]:
mxml

In [ ]:
response = mxml.getroot()

In [ ]:
response

In [ ]:
moco = trafficParser(response)

In [ ]:
moco.info()

In [ ]:
moco.isnull().sum()